<div class="nk-body npc-crypto ui-clean pg-auth">
  <div class="nk-app-root">
    <div class="nk-split nk-split-page nk-split-md">
      <div
        class="nk-split-content nk-block-area nk-block-area-column nk-auth-container"
      >
        <div class="absolute-top-right d-lg-none p-3 p-sm-5">
          <a
            href="javascript:void(0);"
            class="toggle btn-white btn btn-icon btn-light"
            data-target="athPromo"
            ><em class="icon ni ni-info"></em
          ></a>
        </div>
        <div class="nk-block nk-block-middle nk-auth-body">
          <div class="brand-logo pb-5">
            <a href="javascript:void(0)" class="logo-link">
              <img
                class="logo-light logo-img logo-img-lg"
                src="./assets/images/logo-hav2x.png"
                srcset="./assets/images/logo-hav2x.png 2x"
                alt="logo"
              />
              <img
                class="logo-dark logo-img logo-img-lg"
                src="assets/images/logo-hav2x.png"
                srcset="./assets/images/logo-hav2x.png 2x"
                alt="logo-dark"
              />
            </a>
          </div>
          <router-outlet></router-outlet>
        </div>
        <app-footer-links></app-footer-links>
      </div>
      <div
        class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right"
        data-content="athPromo"
        data-toggle-screen="lg"
        data-toggle-overlay="true"
      >
        <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
          <div class="nk-block-head">
            <div class="nk-block-head-content">
              <h5 class="nk-block-title">
                Empowering Individual Health For Your Overall Wellness
              </h5>
            </div>
          </div>
          <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
            <div class="slider-item">
              <div class="nk-feature nk-feature-center">
                <div class="nk-feature-img">
                  <img
                    class="round"
                    src="./assets/images/slides/bg-02.png"
                    srcset="./assets/images/slides/bg-02.png 2x"
                    alt=""
                  />
                </div>
                <div class="nk-feature-content py-4 p-sm-5">
                  <!-- <h4>Lorem Ipsum</h4> -->
                  <p>
                    An Integrated Platform That Provide You A Platform For Your
                    Health Needs
                  </p>
                </div>
              </div>
            </div>
            <div class="slider-item">
              <div class="nk-feature nk-feature-center">
                <div class="nk-feature-img">
                  <img
                    class="round"
                    src="./assets/images/slides/bg-01.png"
                    srcset="./assets/images/slides/bg-01.png 2x"
                    alt=""
                  />
                </div>
                <div class="nk-feature-content py-4 p-sm-5">
                  <!-- <h4>Lorem Ipsum</h4> -->
                  <p>
                    An Integrated Platform That Provide You A Platform For Your
                    Health Needs For Individuals & HealthCare Providers.
                  </p>
                </div>
              </div>
            </div>
            <div class="slider-item">
              <div class="nk-feature nk-feature-center">
                <div class="nk-feature-img">
                  <img
                    class="round"
                    src="./assets/images/slides/3979703.png"
                    srcset="./assets/images/slides/3979703.png 2x"
                    alt=""
                  />
                </div>
                <div class="nk-feature-content py-4 p-sm-5">
                  <!-- <h4>Lorem Ipsum</h4> -->
                  <p>
                    This Platform provides for you Historical & Biological Data
                    which can help to improve your lifestype & habits
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-dots"></div>
          <div class="slider-arrows"></div>
        </div>
      </div>
    </div>
  </div>
</div>
