<div class="nk-footer">
  <div class="container wide-xl">
      <div class="nk-footer-wrap g-2">
          <div class="nk-footer-copyright"> &copy; 2020 Health A Vision. Template by <a href="javascript:void(0);">Softnio</a>
          </div>
          <div class="nk-footer-links">
              <ul class="nav nav-sm">
                  <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Terms</a></li>
                  <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Privacy</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>