<div class="nk-block nk-auth-footer">
  <div class="nk-block-between">
      <ul class="nav nav-sm">
          <li class="nav-item">
              <a class="nav-link" href="#">Terms & Condition</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="#">Help</a>
          </li>
      </ul>
  </div>
  <div class="mt-3">
      <p>&copy; 2020 Health A Vision. All Rights Reserved.</p>
  </div>
</div>